body {background-image: url(../mtcookvalley.jpg);
      background-size: cover;
      background-attachment: fixed;}  
    
    .heading a {box-sizing: border-box;
                    display: flex;
                    justify-content: center;
                    border-style: inset;
                    text-decoration:none;
                    background-color:rgb(209, 221, 217) ;
                    font-family: Georgia, 'Times New Roman', Times, serif;
                    color: orangered;
                    font-size: 100%;
                     }  
    .links {box-sizing: border-box; 
            display: inline-flex; 
            justify-content: center;
            padding: 2%;
            margin: 1%   ;
            border-style: inset;
            border-color: rgb(107, 145, 107);
            background-color: rgb(209, 221, 217);
            color: orangered;
            text-decoration:none;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 2rem;
    }    
#homepagetext { color: rgb(243, 247, 246);
                text-align: center;
                text-shadow: .3ch .3ch .3ch #000,
                             .3ch -.3ch .3ch #000,
                             -.3ch .3ch .3ch #000,
                             -.3ch -.3ch .3ch #000;
            font-size: 2em;}


 
