body {background-color: rgb(177, 221, 177);}
.homeheading { background-color:rgb(19, 81, 197)); font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ; color: rgb(175, 7, 7);
text-align: center;}


.welcome {color: darkblue; font-family: cursive; font-size: 1em; border-width:; text-align: center;}

button{color:firebrick; padding: 10px; ;}